header {
    padding: 15px;
    width: 100%;
    background: #fff;
}

header .container{
    display: flex;
    /* justify-content: space-between; */
    max-width: 960px;
    margin: 0 30px;
    /* padding: 0 30px; */
}

.search {
    flex-grow: 1;
    margin: 0 65px;
}

.search-form {
    display: flex;
}

.search-input {
    /* flex: 1 0 0; */
    /* flex-basis: 100%; */
    border: 1px solid #077915;
    border-radius: 2px 0 0 2px;
    height: 36px;
    /* max-width: 400px; */
    width: 100%;
    /* width: 300px; */
    padding: 5px 10px;
    font-size: inherit;
    font-family: inherit;
}

.search-btn {
    background: #077915 url(https://res.cloudinary.com/sivadass/image/upload/v1494692031/icons/search.png) 50% no-repeat;
    /* background: #077915; */
    display: inline-block;
    border: 0;
    border-radius: 0 2px 2px 0;
    width: 96px;
    height: 36px;   
    padding: 0 16px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.cart {
    display: flex;
    margin-left: 65px;
    position: relative;
}

.cart-info {
    color: #077915;
    font-size: 14px;
    text-align: right;
}

.show-cart-btn {
    border: 0;
    margin-left: 15px;
    background: #fff;
    cursor: pointer;
}

.show-cart-btn:focus {
    outline: none !important;
}

.cart-preview {
    display: none;
    border: 1px solid #ccc;
    /* width: 360px;
    height: 388px; */
    background: #fff;
}

.cart-preview.active {
    display: block;
    position: absolute;
    z-index: 1;
    top: 48px;
    right: 0;
    width: 360px;
    height: 388px;
    box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
}

.empty-cart {
    margin-top: 10px;
    color: #999;
    font-size: 18px;
}

.cart-items {
    list-style: none;
    width: 360px;
    height: 320px;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 8px;
}
.cart-item:hover {
    background: #f5f5f5;
}

.product-info {
    flex: 1;
    margin-left: 16px;
}

.product-info p {
    color: #999;
    font-size: 14px;
    text-align: left;
}

.product-total p {
    color: #999;
    font-size: 14px;
    text-align: right;
}

.product-remove {
    border: none;
    background: #fff;
    margin-left: 24px;
    height: 24px;
    line-height: 24px;
    width: 24px;
    font-size: 22px;
    color: #ccc;
    text-align: center;
    cursor: pointer;
}
.product-remove:hover {
    /* background: #f5f5f5; */
    color: red;
}
.product-remove:focus {
    outline: none !important;
}